@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
:root{ /*PseudoClase  root que nos permitirá crear variables/custom propierties*/
    --paddingContainer: 100px 0;
    --colorTitles: #001a49;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%; /*Para que no ocupe el 100% del ancho de la página (por ejemplo el navbar)*/
    max-width: 1200px;
    margin: 0 auto; /*Centramos el contenido verticalmente*/
    overflow: hidden; /*Todo lo que esté fuera del elemento se esconda*/
    padding: var(--paddingContainer); /*Para usar la custom propiertie lo hacemos mediante var(nombreVariable)*/    
}

.hero{
    width: 100%;/*Para que la imagen de fondo si ocupe el 100%*/
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;/*Para que un elemento se posicione relativamente a este contenedor*/
    display: grid;
    grid-template-rows: 100px 1fr;/*Primer fila de 100px, segunda fila toma el contenido sobrante de los 100px (1fr)*/
    color: #FFF;
}
/*Clippath y position fixed
*/
.hero::before{ /*Creamos un subelemento a partir de hero*/
    content: "";/*que tenga un contenido vacío*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),url('../img/desk2.jpg'); /*Ponemos una capa de transparencia a la imagen*/
    background-size: cover;/*Para que se adapte a la página*/
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%); /*Código de clippy css*/
    z-index: -1;/*Para mostrar la imagen debajo del resto del contenido*/
    
}
/*Nav styles*/

.nav{
    --paddingContainer: 0;
    height: 100%;
    display: flex;
    align-items: center; /*Centrar los elementos verticalmente*/
}

.navTitle{
    font-weight: 300;/*Fuente más delgada*/
    width: 5em;
}

.navLink{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;/*Que los elementos de la lista se pongan uno al lado del otro*/
    grid-auto-columns: max-content;/*Que mida por defecto su máximo contenido*/
    gap: 2em;/*Espaciado de 2 em*/

}
.navItem{
    list-style: none;
}



.navLinks{
    color: #FFF;
    text-decoration: none;
}

.navMenu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.navMenuImg{
    display: block;
    width: 30px;
    color: #FFF;
}
.navClose{
    display: var(--show, none);/*Que tenga el valor de la custom propiertie pero cómo no se ha declarado estará en none*/
}

/*Hero container*/
.heroContainer{
    max-width: 800px;
    display: grid;
    --paddingContainer: 0;
    grid-auto-rows: max-content; /*Para que las filar generadas no ocupen más de lo que deberían*/
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.heroTitle{
    font-size: 3rem;
}

.heroParagraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;/*Solo ocupa el espacio de su contenido*/
    color: #FFF;
    text-decoration: none;
    padding: 16px 30px;
    border-radius: 32px;
}
/*Main*/
/*About*/
.about{
    text-align: center;
}
.subtitle{
    color: var(--colorTitles);
}
.aboutIcon{
    color: #2091F9;
    font-size: 2rem;
    margin-bottom: 25px;
}

.aboutParagraph{
    line-height: 1.7;
}

.aboutIcons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.aboutMain{
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}
.aboutIcon{
    font-size: 40px;
}

/*Knowledge*/

.knowledge{
    background-color: #e5e5f7;
background-image: radial-gradient(#444cf7 0.65px, #e5e5f7 0.65px);
background-size: 13px 13px;
    overflow: hidden;
}

.knowledgeContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledgePicture{
    max-width: 500px;
}

.knowledgeImg{
    width: 100%;
    display: block;
}

.knowledgeParagraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

/*Price*/
.price{
    text-align: center;
}

.priceTable{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.priceElement{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #696871;
    --color-price: #1d293f;
    --bg-cta: #fff;
    --color-cta: #5454d4;
    --color-items: #696871;
}

.planName{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.planPrice{
    font-size: 1.5em;
    color: var(--color-price);
}

.planItems{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.3rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.planCta{
    display: block;
    background-color: var(--bg-cta);
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
    color: var(--color-cta);
}

.priceElement--best{
    width: 370px;
    padding: 70px 40px;
    background-color: #ff7143;
    --color-plan: rgb(255 255 255 /75%);
    --color-price: #fff;
    --bg-cta: #9f3919;
    --color-cta: #fff;
    --color-items: #fff;
}

/*Testimony*/

.testimony{
    background-color: #e5e5f7;
}

.testimonyContainer{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}
.testimonyBody{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;/*para que no los podamos seleccionar*/
}

.testimonyBody--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.testimonyImg{
    width: 250px;
    height: 250px;
    border-radius: 200px;
    object-fit: cover;/*Para que no se deforme la imagen (solo hace el recorte)*/
    object-position: 50% 20%;
}
.testimonyTexts{
    max-width: 700px;
}
.testimonyCourse{
    background-color: royalblue;
    color: #FFF;
    display: inline-block;
    padding: 5px;
}
.testimonyArrow{
    font-size: 1.7rem;
    cursor: pointer;
}

/*Questions*/

.questions{
    text-align: center;
}

.questionsContainer{
    display: grid;
    gap: 2em;
    padding: 50px 0 100px 0;
}
.questionsPadding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #5454d4;
    border-radius: 6px;
}

.questionsPadding--add{
    padding-bottom: 30px;
}

.questiosAnswer{
    padding: 0 30px 0;
    overflow: hidden;
}

.questionArrow{
    border-radius: 50%;
    background-color: var(--colorTitles);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}
.questionArrow--rotate{
    transform: rotate(180deg);
}

.questionsImg{
    display: block;
    color: #FFF;
}
.questionTitle{
    display: flex;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--colorTitles);
    justify-content: space-between;
    cursor: pointer;
    font-size: 20px;
}

.questionsArrow{
   color: #FFF;
   font-size: 1rem; 
}
.questionsShow{
    text-align: left;
    height: 0;
    transition: height .3s;
}
.questionsCopy{
    width: 60%;
    margin: 30PX auto;
}

/* FOOTER */
.footer{
    background-color: #1d293f;
}
.footerTitle{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footerTitle, .footerNewsletter{
    color: #FFF;
}

.footerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FFF;
    padding-bottom: 60px;
}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}
.navLink--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}
.footerInputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}
.footerInput{
    background-color: #FFF;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}
.footerSubmit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #2091f9;
    border: none;
    font-size: 1rem;
    color: #FFF;
    border-radius: 6px;
}
.footerCopy{
    --paddingContainer: 30px 0;
    text-align: center;
    color: #FFF;
}
.footerCopyright{
    font-weight: 300;
}

.footerIcons{
    margin-bottom: 10px;
    text-decoration: none;
    color: #FFF;
    padding: 10px;
}
.footerIcon{
    font-size: 30px;
}

/* MEDIA QUERIES - Adaptación a dispositivos móviles */
@media (max-width:800px){
    .navMenu{
        display: block;
    }
    .navLinkMenu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }
    .navLink--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }
}